#wrapper{
    display: flex;
}
.canvasDiv{
    width: 50%;
    flex: 1;
    padding: 20px;
}
.canvas{
    border: 2px solid #d3d3d3;
}
#messageBox{
    initial-value: "Type your message here";
    display: block; width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}